<%- include('./partials/header') %>
<h1>Contact</h1>

<% if (contact.fullName && contact.email) { %>
  <h2>Thank you for submitting!</h2>
<% } %>

<form method="POST" action="/contact">
  <div>
    <label for="fullName">Name:</label>
       <input id="fullName" name="fullName" value="<%= contact.fullName %>" />
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" value="<%= contact.email %>" />
  </div>

  <div>
    <label for="comment">Comment:</label>
    <textarea id="comment" name="comment" rows="8" cols="80"> <%= contact.comment %> </textarea>
  </div>

  <div>
    <input type="submit" name="" value="Submit">
  </div>
</form>

<%- include('./partials/footer') %>
